
.kontakt{
  background-color: var(--red-card);
  border-radius: 25px;
  overflow: hidden;
  width: 500px;
  max-width: 100%;
  min-height: 480px;
}

.kontakt input{
    background-color: var(--white-card);
    color: var(--black-card);
    border: none;
    margin: 0 0 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }

  .kontakt textarea{
    background-color: var(--white-card);
    color: var(--black-card);
    border: none;
    margin: 0 0 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }

  .kontakt button{
    background-color: var(--green-card);
    font-size: 13px;
    padding: 10px 25px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
  }


  .kontakt label{
    align-self: flex-start;
    font-size: 10px;
    line-height: 20px;
  }

  .kontakt p{
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0;
  }