.karte{
    margin: 20px;
    padding: 20px;
    height: 200px;
    border: none;
    border-radius: 20px;
    position: relative;
    list-style: none;
    transition: 0.2s ease-in-out;
}

.image{
    position: absolute;
    height: 50px;
    top: 5px;
    left: 5px;
    border-radius: 50px;
    display: grid;
    place-self: center;
}

.typ{
    position: absolute;
    top: 5px;
    right: 20px;
}

.sg{
    position: absolute;
    font-size: 140%;
    top: 40px;
    left: 40px;
}

.pl{
    position: absolute;
    font-size: 120%;
    top: 75px;
    left: 40px;
}

.verwandte{
    position: absolute;
    font-size: 100%;
    top: 155px;
    left: 20px;
}

.beispiel{
    position: absolute;
    font-size: 100%;
    line-height: 18px;
    top: 180px;
    left: 20px;
}

.infinitiv{
    position: absolute;
    font-size: 120%;
    top: 25px;
    left: 70px;
}

.präsens1{
    position: absolute;
    top: 50px;
}

.präsens2{
    position: absolute;
    top: 70px;
}

.präsens3{
    position: absolute;
    top: 90px;
}

.präsens4{
    position: absolute;
    top: 110px;
}

.präsens5{
    position: absolute;
    top: 130px;
}

.präsens6{
    position: absolute;
    top: 150px;
}

.mann{
    position: absolute;
    font-size: 140%;
    top: 30px;
    left: 40px;
}

.manner{
    position: absolute;
    font-size: 120%;
    top: 60px;
    left: 40px;
}

.frau{
    position: absolute;
    font-size: 140%;
    top: 90px;
    left: 40px;
}

.frauen{
    position: absolute;
    font-size: 120%;
    top: 120px;
    left: 40px;
}

.karteVerbe{
    background-color: #ff7514;
}

.karteNomenDas{
    background-color: #4dac2b;
}

.karteNomenDie{
    background-color: #b82c50;
}

.karteNomenDer{
    background-color: #0079a4;
}

.karteNomen2{
    background: linear-gradient(#0079a4, #b82c50);
}

.karteNomenPl{
    background-color: #e3cd39;
}

.karte:hover{
    scale: 1.2;
}