.karte{
  background-color: var(--green-card);
  width: 300px;
  min-height: 300px;


  border-radius: 24px;
}

.flipButton{
  background-color: var(--black-card);
  font-size: 13px;
  padding: 10px 25px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
      
