.karte{
  width: 300px;
  min-height: 300px;
  border-radius: 24px;
}

.karteDas{
  background-color: var(--green-card);
}

.karteDer{
  background-color: var(--blue-card);
}

.karteDie{
  background-color: var(--red-card);
}

.kartePl{
  background-color: var(--yellow-card);
}

.karteVerb{
  background-color: var(--orange-card);
}

.karteMUF{
  background-image: linear-gradient(to right, var(--blue-card) , var(--red-card));
}

.karteAndere{
  background-color: var(--purple-card);
}

.flipButton{
  background-color: var(--black-card);
  font-size: 13px;
  padding: 10px 25px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
      
