

.category button:hover{
  background-color: var(--yellow-card);
}




.editor .success{
  color: var(--white-card);
  font-size: 14px;
}



.editor{
  border-radius: 5px 25px 25px 25px;
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  min-height: 180px;
  z-index: 5;
}

.andere{
  background-color: var(--purple-card);
}

.nomenDer{
  background-color: var(--blue-card);
}

.nomenDas{
  background-color: var(--green-card);
}

.nomenDie{
  background-color: var(--red-card);
}

.nomenPl{
  background-color: var(--yellow-card);
}

.nomenMUF{
  background-image: linear-gradient(to right, var(--blue-card) , var(--red-card));
}

.verb{
  background-color: var(--orange-card);
}

.editor input{
    background-color: var(--white-card);
    color: var(--black-card);
    border: none;
    margin: 0 0 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }

  .editor select{
    background-color: var(--white-card);
    color: var(--black-card);
    border: none;
    margin: 0 0 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }

