

.karte{
    display:flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background-color: blue;
}

.kartefront{
    font-size: 40px;
    padding: 200px;
    border-radius: 25px;
    background-color: var(--green-card);
    backface-visibility: hidden;
  }

  .karteback{
    position: absolute;
    padding: 100px;
    border-radius: 25px;
    background-color: var(--red-card);
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  .karte:hover{
    transform: rotateY(180deg)
  }
      
