
.konto{
  background-color: var(--red-card);
  border-radius: 25px;
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  min-height: 180px;
}

.konto input{
    background-color: var(--white-card);
    color: var(--black-card);
    border: none;
    margin: 0 0 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }

  .konto select{
    background-color: var(--white-card);
    color: var(--black-card);
    border: none;
    margin: 0 0 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }

