.menuGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    gap: 20px;
    padding: 0;
    justify-content: center;
}

.elementGrid{
    list-style: none;
    text-align: center;
    font-size: 170%;
    padding: 50px;
    background-color: red;
    border-radius: 20px;
    cursor: pointer;

}

.elementGrid:hover{
    scale: 1.1;
    transition: 0.2 ease-in-out;
}