.nav {
    background-color: var(--blue-card);
    color: var(--white-card);
    border-radius: 0 0 10px 40px;
}

.nav button{
    background-color: var(--red-card);
}

.navLink{
    padding: 5px 10px 5px 10px;
    display: block;
}

.navLink:hover{
    background-color: var(--green-card);
    border-radius: 5px;
}

button.navLink{

    background-color: transparent;
    text-align: start;
}