@font-face {
  font-family: "Baloo";
  src: url("./fonts/BalooBhaijaan2.ttf");
}

body {
  margin: 15px 50px 15px 50px;
  background-color: #212121;
  font-family: 'Baloo';
  color: white;
}

h1 {
  text-align: center;
  margin: 0;
}

.mainMenu{
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.breaker{
  margin: 20px 50px;
  height: 1px;
  background-color: #565656;
}

footer{
  text-align: center;
}