@font-face {
  font-family: "Baloo";
  src: url("./fonts/BalooBhaijaan2.ttf");
}

:root {
  --color-red: #b82c50;
  --color-green: #79ac2b;
  --color-blue: #0079a4;
}

body {
  margin: 15px 50px 15px 50px;
  background-image: url("./imgs/mainBackground.svg");
  font-family: 'Baloo';
  color: white;
}

h1 {
  text-align: center;
}

.mainMenu{

  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.levelCard{
  position: relative;
  padding: 180px 25px;
  margin: 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.levelTopics{
  position: absolute;
  top:0;
  left: 10;
  opacity: 0%;
}

.levelCard:hover .levelTopics{
  left: 40px;
  opacity: 100%;
  transition: 1.2s ease-in-out;
}

.levelCard:hover{
  padding-right: 170px;
}


.lcA1{
  background-color: var(--color-red);
}

.lcA2{
  background-color: var(--color-green);
}

.lcB1{
  background-color: var(--color-blue);
}